<div class="row">
    <div class="col-md-5">
      <select [(ngModel)]="brandId" class="form-select" aria-label="Default select example">
        <option *ngFor="let brand of brands" [ngValue]="brand.brandId">{{brand.brandName}}</option>
      </select>
    </div>
    <div class="col-md-5">
      <select [(ngModel)]="colorId" class="form-select" aria-label="Default select example">
        <option *ngFor="let color of colors" [ngValue]="color.colorId">{{color.colorName}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <button (click)="setCurrentRoute()" type="button" class="btn btn-secondary"> Filtrele </button>
    </div>
  </div>
