<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Araba Ekle</h5> </div>
            <div class="card-body">
                <form [formGroup]="carAddForm">
                    <div class="mb-3">
                        <label for="brandId">Marka</label>
                        <div class="form-group">
                            <input type="number" id="brandId" class="form-control" formControlName="brandId" placeholder="Marka"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="colorId">Renk</label>
                        <div class="form-group">
                            <input type="number" id="colorId" class="form-control" formControlName="colorId" placeholder="Renk"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="modelYear">Model Yılı</label>
                        <div class="form-group">
                            <input type="number" id="modelYear" class="form-control" formControlName="modelYear" placeholder="Model Yılı"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="dailyPrice">Fiyat</label>
                        <div class="form-group">
                            <input type="number" id="dailyPrice" class="form-control" formControlName="dailyPrice" placeholder="Fiyat"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description">Açıklama</label>
                        <div class="form-group">
                            <input type="text" id="description" class="form-control" formControlName="description" placeholder="Açıklama"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
            </div>
        </div>
    </div>
</div>